*{
    margin: 0;
    padding: 0;
}

header {
	width: 100%;
	background: #2471A3;
    height: 70px;
   
}
.slider{
    width: 95%;
    margin: auto;
    overflow: hidden;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 400%;

    animation: cambio 20s infinite alternate linear;
    
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
}
.ancho{
    width: 80%;
    height: 70px;
    /*background: red;*/
    margin: auto;
}
.logo{
    width: 30%;
    height: 70px;
    /*background: blue;*/
    float: left;
    padding-top: 10px;
    box-sizing: border-box;
}
.logo p a{
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    font-weight: bold;
}
nav{
    width: 70%;
    height: 70px;
    /*background: olive;*/
    float: left;
    text-align: right;
    padding-top: 24px;
    box-sizing: border-box;
}
nav ul li{
    display: inline;
}
nav ul li a{
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    padding-left: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}
nav ul li a:hover{
    color: #444;
}
@font-face{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@keyframes cambio {
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -200%;}
    100%{margin-left: -200%;}
   
}